####################################################################
#
#    "BACKUP ALMA" DEGERLERININ VE "DEGISKENLERIN" AYARLANDI ALAN
#
####################################################################
#*******************************************************************************************************
# PROGRAM TANIMLAMALARI #
#************************
#
     Script_FirstRun = IlkCalistirma      # default IlkCalistirma
#
# DOSYA veya KLASOR YOLLARI
# ============================
#  -OS DOSYA YOLLARI-
     CrontabPath = /etc/crontab
     FstabPath = /etc/fstab
#
#  -KLASOR YOLLARI-
     RootDirPath = Pg_Backup		## default Pg_Backup
     ScriptsDirPath = BinScript		## default BinScript
     ConfDirPath = ConfPages		## default ConfPages
     LibDirPath = Kutuphane			## default Kutuphane
     LogFileDir = LogDosyasiKlasoru	## default LogDosyasiKlasoru
#
#  -DOSYA YOLLAR-		# Asagidaki yollar program tarafindan otomatik olarak belirleniyor.
     LogFilePath = LogDosyasiYolu		## default LogDosyasiYolu
     ErrLogFilePath = ErrorLogDosyasiYolu	## default ErrorLogDosyasiYolu
     SystemLogFilePath = SystemInfoDosyasiYolu	## default SystemInfoDosyasiYolu
     TarDirLogFilePath = TarDosyasiYolu		## default TarDosyasiYolu
#
# ISIMLENDIRME
# ================
#  -SUNUCU ISIMLERI-
     GndServer = BackupServer		# BACKUP ALINAN SUNUCUNU ISMI
     BckServer = NodeJs	# BACKUP SERVER ININ ISMI
#
#  -BACKUP KLASOR ISIMLERI-
     BckRootDir = /media/UsbDrive-Kingston	#  !!! Backup alinacak yolun duzgun yazilmasi gerek. !!!
     SvrNameDir = NodeJs-Backup		# Yedek alinacak klasor adi
     MiscDir = (Logs Database ServerImage DirImage)	# !!!!!!! Tanimlar degistirilmemeli !!!!!!!!
#
#  -DOSYA ISIMLERI-
     LogDosyAd = Log.txt		# Log Dosyasi 
     ErrorLogAd = ErrorLog.txt		# Hata Loglari
     SystemLogAd = systeminfo.txt	# Sistem bilgilerinin tutalacagi dosya ismi
     TarDirLogAd = TarDirinfo.txt	# Tar dosyalari icin ayrintili log dosya ismi
#
#
#*******************************************************************************************************
# YEDEKLEME TANIMLAMALARI #
#**************************
#
#  -DISK SECIMI-
     KlasorYeri = HariciDisk            # "HariciDisk","YerelKlasor"
#                                       #    HariciDisk sunucuya yada bilgisayara disaridan baglanan disk
#					#    YerelKlasor isletim sisteminin klasor agacinda gosterilen yer
#  -BACKUP ONAYLAMALARI-
     DataBase_Yedek = H		# "E (Evet)" yada "H (Hayir)"
     Klasor_Yedek = E		# "E (Evet)" yada "H (Hayir)"
     Image_Yedek = H		# "E (Evet)" yada "H (Hayir)"
#
# POSTGRESQL DB
# ================
#  -POSTGRESQL BACKUP AYARLARI- 
     Bck_Secim = 0      # "POSTGRESQL" Backup alma seceneklerinden birisi yazilir.
#                       # Backup icin gerekli olan secenekler asagidadir.
#
#   POSTGRESQL ICIN ALINACAK BACKUP IN DEGERI BELIRLEME TABLOSU
#    Haftanin gunlerini sayisal olarak yaziyoruz.
#    "1->Pazartesi", "2->Sali", "3->Carsamba", "4->Persembe", "5->Cuma", "6->Cumartesi", "7->Pazar"
#					 # BACKUP ALMA SECENEKLERI
     ;ButunHafta = (1 2 3 4 5 6 7)	# 0
     ;HaftaIci = (1 2 3 4 5)		# 1
     ;HaftaSonu = (6 7)			# 2
     ;HaftadaBirGun = (1)		# 3
     ;HaftadaIkiGun = (3 5)		# 4
     ;HaftadaUcGun = (1 3 5)		# 5
     ;HaftaninTekGunuleri = (1 3 5 7)	# 6
     ;HaftaninCiftGunleri = (2 4 6)	# 7
     ;AyinGunu = (03 05 27)		# 8 # Buradaki sayi degerleri "cift" haneli olmali
#
#    NOT: Yeni bir backup alma dizisi eklenmek istenirse muhakkak satirin basina 
#         "Noktali Virgul" ibaresi konulmalidir.
#
#  -POSTGRESQL SAKLAMA AYARLARI-
#    Saklama Tipinin belirlemek icin ( Haftalik = H, Aylik = A, DiskBoyutu = DB ) degerleri girilmelidir.
#
     SaklamaTipi = H
# 
#  -POSTGRESQL DB BILGILERI-
#    Birden fazla database in yedegi alinmak istenmiyorsa "service postgres@x.x-main stop" yazarak
#    yedek alimini durdurabilirsiniz.
#!:
   PG_VERSION_0 = 9.5
    Pg_Status_0 = active
    PgDbKlasoru_0 = /var/lib/postgresql/9.5/main
    PgConfDosyasi_0 = /etc/postgresql/9.5/main/postgresql.conf
    PgHbaDosyasi_0 = /etc/postgresql/9.5/main/pg_hba.conf
    PgIdentDosyasi_0 = /etc/postgresql/9.5/main/pg_ident.conf
    PgDbAdres_0 = '*'
    PgDbPort_0 = 5432
##!:
# KLASOR BACKUP AYARLARI
# =======================
#    Yedek alinmasini istediginiz baska klasorler varsa aralarinda bosluk birakarak dizi elemani
#    olarak eklenebilir.
#
#    Yedek Alinmak istenen klasorler. Kok dizindeki yazim sekliyle yazilmalidir.
     YedekAlKla = (var/log var/www) 
#
#*******************************************************************************************************
#
# TRANSFER AYARLARI
# ==================
# -TRANSFER SEKLI-
    GondermeTipi = Local	# "Local", "Usb", "Scp" veya "Ftp" ile dosyalari gonderme. Istenilen komut yazilabilir.
#				# "Local" Backup icin olusturulan dosyalar local de saklanir.
#				# "Scp" Secure Copy Protocol
#				# "Ftp" File Transfer Protocol
#
#  -SCP BILGILERI-
#   # Bu baglanitinin yapilabilmesi icin ssh keygen ile sifre olusturup karsi taraftaki sunucuya sifreyi
#   # yuklemek gerekmektedir.
      Kullanici = root		# Kullanici Adi
      BaglantIP = 192.168.1.13	# Baglanti Ipsi
      ScpPort = 22		# SSH Port Number
#
#  -FTP BILGILERI-
#   # Bu baglanti icin ftp serverda bir hesap acilmasi gerekmektedir.
      ServerIP = 192.168.1.24    # Ftp nin acildigi server ip si
      FtpPort = 21              # FTP Port Number
      UserID = Development       # Ftp Kullanici adi
      Password = D3v3Lopm3nT     # Ftp Sifre
#
#*******************************************************************************************************
#
#  MAIL GONDERME
#  -------------
      host = 192.168.1.22    #MAIL SUNUCU IPSI
      mail_Port = 25
      mailSendTo = ikinoktaitdepartmani@ikinokta.com
#
#*******************************************************************************************************
#
#  SERVISLERIN KONTROL SECENEKLERI
#  --------------------------------
      Servis_Dizi = (apache2 postgresql ssh ntp)
#
#########################################################################################################
